body{
    height:100vh;
    overflow: auto;
}
main{
    height: -webkit-fill-available;
    padding-bottom: 30px;
}
@media(max-width: 991.98px){
    .nav-link{
        padding-bottom: 0em;
    }
}
.current {
    background: red;
  }

@media(min-width: 991.98px){
    header{
        z-index: 100;
        position: absolute;
        width: -moz-available; 
        width:-webkit-fill-available;
    }
    #nav.container{
        margin-left: 0%;
    }
    
    #navbarImage{
        width:8em;
        height:auto;
        margin-left: 4.5em;
        margin-top: 1em;
    }
    
    .navbar-toggler{
        margin-left: auto;
        color: #1E4F9E;
    }
    .navbar-brand{
        display: flex;
        position: absolute;
        align-items: normal;
    }
    #nav{
        align-items: normal;
    }
    .nav-item{
        margin-left:1.25em;
        margin-right:1.25em;
      }
    .nav-item:first-child{
        margin-left: 1.5em;
    }
    .nav-item:last-child{
        margin-right: 1.5em;
    }

    #navbarNavDropdown{
        margin-top: 1.5em;
        font-size: larger;
        font-weight: bolder;
        margin-right: 1em;
        margin-left: auto;
        color: #1E4F9E;
        border: 0.15em solid;
        border-collapse: collapse;
        border-color: #1E4F9E;
        border-radius: 2em;

    }
    #navbarNavDropdown{  
        flex: revert;
    }
    .dropdown-menu{
        
        display: block;
        position: absolute;
        background-color: transparent;
        width:100%;
        visibility: hidden;
        border:none; 
        overflow: hidden;
        padding-top: 0em;
        
    }
    .nav-link{
        pointer-events: none;
    }
    .dropdown:hover .dropdown-menu{
        visibility: visible;
    }
    .dropdown-item{
        width: auto;
        display: inline-flex;
    }
    .dropdownspan-1{
        display: block;
    }
    .dropdownspan-2{
        margin-right: 2em;
        display: block;
        float: right;
    }
    body > main{
        padding-top: 80px;
    }
    #ourPartners{
        margin-bottom: 50px;
        margin-left:100px;
    }
    .footer{
        background-color: #1E4F9E;
        color: white;
    }
    .footer a{
        color: inherit;
        text-decoration: inherit;
    }
}