.TshirtImage{
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    background-color: brown;
}
#TshirtView{
   display: flex;
   flex-wrap: wrap;
   place-content: center;
}
.btn-square-md {
  width: 50px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 50px !important;
  text-align: center;
  padding: 0px;
  --bs-btn-border-color: black;
  --bs-btn-border-radius: .5rem;
  margin-left:6px;
  margin-right: 6px;
  font-size:12px;
  --bs-btn-hover-color: none
  }
  .btn-square-md:hover{
    background-color: var(--bs-btn-bg) !important;
    color: inherit !important;
    text-decoration: none !important;
    cursor: auto !important;  
  }